<h1>Complete Registration:</h1>
<form class="" action="/add" method="post">
  First Name: <input type="text" name="first_name" value=""> <br>
  Last Name: <input type="text" name="last_name" value=""><br>
  Date of Birth: <input type="text" name="dob" value=""><br>

  <input type="submit" name="submit" value="submit"> <br>
</form>
