<h1>Create new patient:</h1>
<table>

<form class="" action="/add" method="post">
  <tr>
  <td>First Name:</td> <td> <input type="text" name="patient[first_name]" value=""></td>
  </tr>
<tr>
  <td>Last Name:</td> <td> <input type="text" name="patient[last_name]" value=""></td>
</tr>
  <tr>
  <td>Date of Birth:</td> <td> <input type="text" name="patient[dob]" value=""></td>
  </tr>

  <tr>
  <td>SSN:</td> <td><input type="text" name="patient[ssn]" value=""></td>
  </tr>
 <tr>
  <td>Insurance:</td> <td><input type="text" name="patient[insurance]" value=""></td>
 </tr>

  <tr>
  <td>Status:</td><td> <input type="text" name="patient[status]" value=""></td>
  </tr>
  <tr>
  <td>Schedule:</td> <td><input type="text" name="patient[schedule]" value=""></td>
  </tr>
</table>
<br><br>
  <input type="submit" name="submit" value="Add patient"> <br>
</form>
