<h1>Complete Registration:</h1>
<form class="" action="/new" method="post">
  First Name: <input type="text" name="first_name" value="enter your first name"> <br>
  Last Name: <input type="text" name="last_name" value="enter your last name"><br>
  Position: Nurse <br> <br>
  <input type="submit" name="submit" value="submit"> <br>
</form>
